<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kms.home.model.dao.MSDao">

<resultMap type="playerDTO" id="player">
	<id column="player_sq" property="playSq"/>
	<result column="player_name" property="name"/>
	<result column="player_id" property="id"/>
	<result column="player_password" property="password"/>
	<result column="player_birthdate" property="birthdate"/>
	<result column="player_url" property="url"/>
	<result column="player_introduction" property="introduction"/>
	<result column="player_bg_url" property="bgUrl"/>
</resultMap>

<resultMap type="visitorDTO" id="visitor">
	<id column="visitor_sq" property="visitorSq"/> 
	<result column="visitor_subject" property="subject"/>
	<result column="visitor_content" property="content"/>
	<result column="visitor_time" property="time"/>
	<association property="playerDTO" javaType="playerDTO">
		<id column="player_sq" property="playSq"/>
		<result column="player_name" property="name"/>
		<result column="player_id" property="id"/>
		<result column="player_password" property="password"/>
		<result column="player_birthdate" property="birthdate"/>
		<result column="player_url" property="url"/>
		<result column="player_introduction" property="introduction"/>
		<result column="player_bg_url" property="bgUrl"/>
	</association>
</resultMap>

<resultMap type="portfolioDTO" id="portfolio">
	<id column="portfolio_sq" property="portfolioSq"/>
	<result column="player_sq" property="playerSq"/>
	<result column="portfolio_subject" property="subject"/>
	<result column="portfolio_strapline1" property="strapline1"/>
	<result column="portfolio_strapline2" property="strapline2"/>
	<result column="portfolio_strapline3" property="strapline3"/>
	<result column="portfolio_strapline4" property="strapline4"/>
	<result column="portfolio_strapline5" property="strapline5"/>
	<result column="portfolio_content" property="content"/>
	<result column="portfolio_img" property="img"/>
	<result column="portfolio_file" property="file"/>
</resultMap>


<!-- 회원가입 -->
<insert id="join" parameterType="playerDTO" >
	insert into player(PLAYER_SQ, PLAYER_NAME, PLAYER_ID, PLAYER_PASSWORD, PLAYER_BIRTHDATE) values(player_sq.nextval, #{name}, #{id}, #{password}, #{birthdate} )
</insert>

<!-- 로그인  -->
<select id="login" parameterType="playerDTO" resultMap="player">
	select * from player where player_id=#{id} and player_password=#{password}
</select>

<!-- 사용자정보 조회 -->
<select id="setting" parameterType="int" resultMap="player">
	select * from player where player_sq=#{playSq}
</select>

<!-- 사용자정보 수정 -->
<update id="profileUpdate" parameterType="playerDTO">
	update player set player_name=#{name}, player_password=#{password}, player_birthdate=#{birthdate}, player_introduction=#{introduction}
</update> 

<!-- 프로필사진 수정 -->
<update id="profileImgUpdate" parameterType="hashmap">
	update player set player_url=#{STORED_FILE_NAME} where player_sq=#{playSq}
</update>

<!-- 프로필사진 조회 -->
<select id="profileImgSelect" parameterType="int" resultType="String">
	select player_url from player where player_sq=${value}
</select>


<!-- 배경사진 수정 -->
<update id="backgroundImgUpdate" parameterType="hashmap">
	update player set player_bg_url=#{STORED_FILE_NAME} where player_sq=#{playSq}
</update>

<!-- 배경사진 조회 -->
<select id="backgroundImgSelect" parameterType="int" resultType="String">
	select player_bg_url from player where player_sq=${value}
</select>


<!-- 방명록 쓰기 -->
<insert id="visitorInsert" parameterType="visitorDTO">
	insert into visitor(visitor_sq, player_sq, visitor_subject, visitor_content) values(visitor_sq.nextval,#{playSq},#{subject},#{content})
	
</insert>

<!-- 방금 쓴 방명록 조회 -->
<select id="visitorSelectOne" parameterType="hashmap" resultMap="visitor">
	select * from 
	( select rownum as rnum,visitor_sq,player.player_sq,visitor_subject, visitor_content, 
	visitor_time,player_name,player_id,player_url,player_bg_url from visitor,player where visitor.player_sq = player.player_sq) 
	WHERE rnum=1 order by visitor_sq desc
</select>



<!-- 방명록 조회 -->
<select id="visitorSelect" parameterType="hashmap" resultMap="visitor">
	select * from 
	( select rownum as rnum,visitor_sq,player.player_sq,visitor_subject, visitor_content, 
	visitor_time,player_name,player_id,player_url,player_bg_url from visitor,player where visitor.player_sq = player.player_sq) 
	WHERE rnum<![CDATA[ > ]]>= #{start} AND rnum <![CDATA[ < ]]>= #{end} order by visitor_sq desc
</select>


<!-- 포트폴리오 조회 -->
<select id = "portfolio" resultMap="portfolio">
	select * from portfolio
</select>

<!-- 포트폴리오 저장 -->
<insert id="portfolioSave" parameterType="portfolioDTO">
	insert into portfolio(portfolio_sq,portfolio_subject,portfolio_strapline1,portfolio_strapline2,portfolio_strapline3,
	       portfolio_strapline4,portfolio_strapline5,portfolio_content, portfolio_img, portfolio_file)
	values(portfolio_sq.nextval,#{subject},#{strapline1},#{strapline2},#{strapline3},#{strapline4},#{strapline5},#{content},#{img},#{file})	       
</insert>








<select id="lifePost" resultType="int">
	select life_board_sq.nextval from dual
</select>
</mapper>



