<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kms.home.model.dao.MSDao">

<resultMap type="playerDTO" id="player">
	<id column="player_sq" property="playSq"/>
	<result column="player_name" property="name"/>
	<result column="player_id" property="id"/>
	<result column="player_password" property="password"/>
	<result column="player_birthdate" property="birthdate"/>
	<result column="player_url" property="url"/>
	<result column="player_introduction" property="introduction"/>
</resultMap>

<insert id="join" parameterType="playerDTO" >
	insert into player(PLAYER_SQ, PLAYER_NAME, PLAYER_ID, PLAYER_PASSWORD, PLAYER_BIRTHDATE) values(player_sq.nextval, #{name}, #{id}, #{password}, #{birthdate} )
</insert>

<select id="login" parameterType="playerDTO" resultMap="player">
	select * from player where player_id=#{id} and player_password=#{password}
</select>

<select id="setting" parameterType="int" resultMap="player">
	select * from player where player_sq=#{playSq}
</select>

<update id="profileUpdate" parameterType="playerDTO">
	update player set player_name=#{name}, player_password=#{password}, player_birthdate=#{birthdate}, player_introduction=#{introduction}
</update> 

<select id="lifePost" resultType="int">
	select life_board_sq.nextval from dual
</select>
</mapper>



