<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kms.home.setting.dao.SettingDao">

	<!-- 사용자정보 조회 -->
	<select id="setting" parameterType="int" resultMap="com.kms.home.login.dao.LoginDao.player">
		select * from player where player_sq=#{playSq}
	</select>
	
	<!-- 사용자정보 수정 -->
	<update id="profileUpdate" parameterType="playerDTO">
		update player 
		set player_name=#{name}, player_password=#{password}, player_birthdate=#{birthdate}, player_introduction=#{introduction}
		where player_sq=#{playSq}
	</update> 
	
	<!-- 프로필사진 수정 -->
	<update id="profileImgUpdate" parameterType="hashmap">
		update player set player_url=#{STORED_FILE_NAME} where player_sq=#{playSq}
	</update>
	
	<!-- 프로필사진 조회 -->
	<select id="profileImgSelect" parameterType="int" resultType="String">
		select player_url from player where player_sq=${value}
	</select>
	
	
	<!-- 배경사진 수정 -->
	<update id="backgroundImgUpdate" parameterType="hashmap">
		update player set player_bg_url=#{STORED_FILE_NAME} where player_sq=#{playSq}
	</update>
	
	<!-- 배경사진 조회 -->
	<select id="backgroundImgSelect" parameterType="int" resultType="String">
		select player_bg_url from player where player_sq=${value}
	</select>

</mapper>



